<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>panCheck.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>964602F01BCE3D3A005E6A33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>964603091BCE3D3A005E6A33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>964603141BCE3D3A005E6A33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
